* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.5;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 16px;
  font-size: 1.25rem;
}

.max-width-wrapper {
  max-width: 0 auto;
}

.intro-chunk {
  max-width: 50rem;
  margin: auto;
  padding-inline-start: 24px;
  padding-inline-end: 24px;
}

.intro-chunk > p {
  max-width: 25.9375rem;
}

.title {
  margin-block-start: 96px;
  margin-block-end: 48px;
}

.intro-chunk > p:last-child {
  margin-bottom: 64px;
}

strong {
  color: hsl(160deg, 100%, 30%);
}

section {
  border-top: 8px solid hsl(0deg, 0%, 60%);
  padding: 64px 0px;
  background-color: hsl(0deg, 0%, 30%);
}

.indented-heading {
  max-width: max-content;
  background-color: hsl(45deg, 100%, 50%);
  margin-left: -32px;
  margin-top: 0px;
  margin-bottom: 16px;
  padding: 16px 32px 15px 32px;
  border-bottom: 8px solid hsl(45deg, 100%, 40%);
}

.card {
  margin: auto;
  max-width: 50rem;
  padding: 8px 24px;
  background-color: hsl(0deg, 0%, 100%);
  border-bottom: 8px solid hsl(0deg, 0%, 60%);
}

.card > p {
  margin: 0px;
  padding-bottom: 16px;
}
